:root{
    --text-color: #fff;
    --btn-text-color:#fff;
    --btn-background-color: rgb(0, 0, 0);
}
.h-100{
    height: 100%;
}
.content{
    position: relative;
    overflow-x: hidden;
    perspective: 400px;
}
.content section{
    overflow-y: auto;
}

@media(max-width:768px){
    .content{
        position: absolute;
        top: 0px;
        width: 100%;
    }
}
#main-div{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/main-div-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 0px;
}
@media(max-width:768px){
    #main-div{
        padding: 0;
    }
}
#main-nav{
    width: 1260px;
    margin: 0 auto 20px;
    background-color: #0dcaf0;
    border-radius: 20px;
    box-shadow: -12px 0px 18px 1px rgb(0 0 0 / 44%);
}
#main-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#main-nav ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
#main-nav ul li a:hover{
    transform: scale(1.2,1.2);
}

@media(max-width:768px){
    #main-nav{
        z-index: 30;
        position: fixed;
        border-radius: 0px;
    }
    #main-nav ul li span{
        display: none;
    }
}

.wrapper{
    background-color: rgb(65, 58, 58);
    margin: 0 auto;
    width: 1260px;
    height: calc(100vh - 100px);
    border-radius: 20px;
    position: relative;
    box-shadow: -12px 10px 18px 1px rgb(0 0 0 / 44%);
}

@media(max-width:1400px){
    .wrapper,#main-nav{
        width: 1160px;
    }
}



.profile-img img{
    border-radius: 50%;
}
.wrapper > .row{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media(max-width:1200px){
    .wrapper,#main-nav{
        width: 970px;
    }
}
@media(max-width:992px){
    .wrapper,#main-nav{
        width: 768px;
    }
}
@media(max-width:768px){
    .wrapper,#main-nav{
        width: 100%;
    }
    .wrapper{
        height: 100%;
    }
    .wrapper > .row{
        position: static;
        width: 100%;
        height: auto;
    }
}
.intro{
    text-align: center;
    background-color: rgb(96, 94, 94);
    height: 100% ;
    color: var(--text-color);
    /* padding: 0px 5px; */
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.intro ul,#contact ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.intro a,#contact a{
    color: var(--text-color);
    text-decoration: none;
}
.contact-icon-span{
    display: inline-block;
}
@media(max-width:768px){
    .intro{
        display: none;
    }
}

@media(max-width:768px){
    .contact-icon-span{
        display: none;
    }
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: 1s;
}
#home h1{
    font-size: 5em;
    color: var(--text-color);
}
#home p{
    font-size: 2em;
    color: #ffffffc7;
}
#home img{
    display: none;
}
@media(max-width:768px){
    #home h1{
        font-size: 3em;
    } 
    #home img{
        display: inline-block;
        border-radius: 50%;
    }
}

#about,#skills,#projects,#contact{
    padding: 50px;
    z-index: 10;
    position: absolute;
    background-color: rgb(65, 58, 58) ;
    color: var(--text-color);
    top: 0px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%) rotateY(180deg);
    transition-duration: 1s;
}

#about h2, #skills h2,#projects h2,#contact h2{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(47, 255, 50) ;
}
#about > p{
    text-align: justify;
}

#about ul li span{
    color: #0dcaf0;
}
#about .icon{
    color: #0dcaf0;
    font-size: 2em;
}
#about h4{
    font-size: 1.2em;
}

@media(max-width:1200px){
    #about ul li{
        font-size: 0.9em;
    }
}

.timeline{
    position: relative;
}
.timeline .box{
    color:rgb(39, 38, 38);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    position: relative  ;
}
.timeline .box .inner-box{
    background-color: #fff;
    padding: 20px;
}
.timeline .box.left{
    padding-left: 0px;
}
.timeline .box.right{
    position: relative;
    left: 50%;
    padding-left: 30px;
}
.timeline .box::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 20%;
    width: 20px;
    height: 20px;
    background-color: #0dcaf0;
    border-radius: 50%;

}
.timeline .box::before{
    content: "";
    position: absolute;
    
    top:20%;
    z-index: 2;
    height: 20px;
    width: 20px;
    border: 10px solid;
}
.timeline .box.left::before{
    right: 0px;
    border-color: transparent transparent transparent white;
}
.timeline .box.right::before{
    left: 10px;
    border-color: transparent white transparent transparent;
}
.timeline .box.left::after{
    right: -14px;
}
.timeline .box.right::after{
    left: -6px;
}
.timeline::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    height: 100%;
    border: 4px solid #fff;
}
.skillset ul{
    margin:  0;
    padding: 0;
    list-style: none;
}
.skillset ul li .bar{
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
}

.skillset ul li span{
    display: block;
    height: inherit;
    width: inherit;
    position: relative;
}
.skillset ul li .p-90{
    width: 90%;
}
.skillset ul li .p-85{
    width: 85%;
}
.skillset ul li .p-80{
    width: 80%;
}
.skillset ul li .p-75{
    width: 75%;
}
.skillset ul li .p-70{
    width: 70%;
}
.skillset ul li .p-65{
    width: 65%;
}
.skillset ul li .p-60{
    width: 60%;
}
.skillset ul li .p-55{
    width: 55%;
}
.skillset ul li .p-50{
    width: 50%;
}
.skillset ul li span::before{
    content: "";
    position: absolute;
    background-color: #0dcaf0;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    animation: progressbar 1s linear;
}
@keyframes progressbar {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#projects .card{
    color: black;
    margin-bottom: 2vh;
    overflow: hidden;
}

#projects .card {
    transition-duration: 1s;
}
#projects .card:hover{
    transform: scale(1.2,1.2);
    z-index: 20;
}

#home.show,#about.show,#skills.show,#projects.show,#contact.show{
    transform: translateX(0%) rotateY(0deg);
}
@media(max-width:768px){
    #about,#skills,#projects,#contact{
        margin-top: 20px;
        padding: 20px;
        padding-top: 50px;
    }
}